.app {
    width: 500px;
    margin: auto;
}
.app h1 {
    text-align: center;
}

.input {
    margin-bottom: 15px;
}

.subject {
    text-align: center;
}

.app button {
    margin: auto;
    display: block;
}

.app h1 span {
    color: red;
}